@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Overlock", cursive;
  color: #000;
  --color-green: #dceeb4;
  --color-orange:#f0906e;
  --color-blue-background:#294845;
  --color-title:#1d4945;
}

button {
  cursor: pointer;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 130px;
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
}
header ul {
  display: flex;
  gap: 20px;
}
header ul li {
  transition: background 0.3s;
}
header ul li a {
  display: block;
  padding: 10px 16px;
}
header ul li:hover {
  background-color: var(--color-green);
}
header .toggle-menu {
  background-color: transparent;
  background-image: url("../assets/menu-toggle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 100px;
  display: none;
}
@media (max-width: 768px) {
  header .toggle-menu {
    display: block;
  }
}
@media (max-width: 768px) {
  header {
    padding: 30px;
  }
}

/*Estilos da secão inicial do site*/
.container_main {
  padding: 130px;
}

.container_main__content {
  max-width: 38%;
}
.container_main__content h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-title);
}
.container_main__content p {
  font-size: 16px;
  color: var(--color-title);
  line-height: 25px;
  margin: 30px 0px;
}
.container_main__content button {
  padding: 8px 16px;
  font-size: 17px;
  font-weight: 700;
  color: var(--color-title);
  background-color: var(--color-green);
}

/*Estilos da secão atuação do site*/
.container_atuacao {
  background-color: var(--color-green);
  text-align: center;
  padding: 60px 130px;
}
.container_atuacao h2 {
  font-size: 30px;
  margin-bottom: 60px;
  position: relative;
}
.container_atuacao h2::after {
  position: absolute;
  bottom: -90%;
  left: 50%;
  margin-left: -30px;
  content: "";
  display: block;
  width: 60px;
  height: 1.5px;
  background-color: var(--color-orange);
}
.container_atuacao ul {
  display: flex;
  justify-content: space-between;
}
.container_atuacao ul li {
  width: 200px;
}
.container_atuacao ul li h3 {
  margin: 8px 0px;
}
.container_atuacao ul li p {
  font-size: 16px;
}

.container_services {
  padding: 60px 130px;
  text-align: center;
}
.container_services h2 {
  font-size: 30px;
  margin-bottom: 60px;
  position: relative;
}
.container_services h2::after {
  position: absolute;
  bottom: -90%;
  left: 50%;
  margin-left: -30px;
  content: "";
  display: block;
  width: 60px;
  height: 1.5px;
  background-color: var(--color-orange);
}
.container_services p {
  font-size: 16px;
  margin-bottom: 100px;
}
.container_services .container_services__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.container_services .container_services__list .image-service {
  margin-top: -50px;
}
.container_services .container_services__list .services {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 345px;
  border: 1px solid var(--color-orange);
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 60px;
}
.container_services .container_services__list .services h3 {
  color: var(--color-title);
  text-align: left;
  margin-right: 30px;
  font-size: 20px;
}
.container_services .container_services__list .services ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 30px;
}
.container_services .container_services__list .services ul li {
  display: flex;
  gap: 8px;
  text-align: left;
}

/*Estilo seção de imóveis em destaque com carrossel slick*/
.container_immobile {
  padding: 60px 130px;
  background-color: var(--color-blue-background);
}
.container_immobile h2 {
  font-size: 30px;
  margin-bottom: 60px;
  position: relative;
  color: #fff;
}
.container_immobile h2::after {
  position: absolute;
  bottom: -90%;
  left: 0%;
  content: "";
  display: block;
  width: 60px;
  height: 1.5px;
  background-color: var(--color-orange);
}
.container_immobile .container_immobile__container_carrossel {
  height: 400px;
  width: 100%;
  background-color: var(--color-green);
  margin-top: 90px;
  margin-bottom: 30px;
}
.container_immobile button {
  display: block;
  padding: 8px 16px;
  font-size: 17px;
  font-weight: 700;
  color: var(--color-title);
  background-color: var(--color-green);
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */