.image_property {
  max-width: 100%;
}

.container_product {
  padding: 130px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .container_product {
    margin-top: 50px;
    padding: 60px 30px;
    flex-wrap: wrap;
  }
}
.container_product h2 {
  font-size: 30px;
  margin-bottom: 60px;
  position: relative;
}
.container_product h2::after {
  position: absolute;
  bottom: -90%;
  left: 0%;
  content: "";
  display: block;
  width: 60px;
  height: 1.5px;
  background-color: var(--color-orange);
}
.container_product .container_product__content {
  width: 70vw;
  margin-right: 90px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  .container_product .container_product__content {
    width: 100%;
  }
}
.container_product .container_product__contact {
  width: 40vw;
  padding-top: 115px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .container_product .container_product__contact {
    width: 100%;
    padding-top: 30px;
  }
}
.container_product .container_product__contact_endereco, .container_product .container_product__contact_form {
  background-color: var(--color-green);
  margin-top: 10px;
  padding: 40px;
}
.container_product .container_product__contact_endereco h3, .container_product .container_product__contact_form h3 {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .container_product .container_product__contact_endereco, .container_product .container_product__contact_form {
    padding: 30px;
  }
}
.container_product form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.container_product form input, .container_product form textarea {
  width: 400px;
  padding: 12px;
  border: none;
}
.container_product form input[type=submit] {
  padding: 16px;
  font-size: 17px;
  font-weight: 700;
  background-color: var(--color-title);
  color: var(--color-green);
  cursor: pointer;
}
@media (max-width: 768px) {
  .container_product form label > input, .container_product form textarea {
    max-width: 250px;
    padding: 16px;
    border: none;
  }
}
.container_product .container_product__contact_map iframe {
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .container_product {
    padding: 90px 80px;
  }
  .container_product .container_product__content img {
    width: 450px;
  }
  .container_product .container_product__contact {
    width: 30vw;
  }
  .container_product .container_product__contact .container_product__contact_form input, .container_product .container_product__contact .container_product__contact_form textarea {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .container_product {
    padding: 90px 80px;
  }
  .container_product .container_product__content {
    min-width: 100% !important;
  }
  .container_product .container_product__content .image_property {
    width: auto;
  }
  .container_product .container_product__contact {
    width: 100vw;
  }
  .container_product .container_product__contact .container_product__contact_form label {
    width: 100%;
  }
  .container_product .container_product__contact .container_product__contact_form label input, .container_product .container_product__contact .container_product__contact_form label textarea {
    min-width: 100%;
  }
}
@media (max-width: 450px) {
  .container_product {
    padding: 90px 30px;
  }
}
.area, .vaga {
  width: 20px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-right: 4px;
}

.area {
  background-image: url("../assets/scale.svg");
}

.vaga {
  background-image: url("../assets/car-2.svg");
}/*# sourceMappingURL=styleEmp.css.map */